.profile {
    img {
        border-radius: 50%;
	width: 100%;
    }
}
.address {
    p { 
	text-align:center;
    	color:$text-color;	
    	margin: 0; }
}

.news {
    border-top: 1px solid $dark-border;
    margin-top: 30px;
    padding-top: 20px;

    h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 10px;
    }
    table {
	color: $content-color;
        border-collapse: collapse;
        width: 100%;

        .date { width: 19%; }
        .announcement { width: 81%; }

        tr { text-align: left; }
        td {
            padding: 6px 0;
            vertical-align: top;
            border: none;
        }
    }
}

.social {
    border-top: 1px solid $dark-border;
    margin-top: 50px;
    padding-top: 20px;
}
