.project {
    box-sizing: border-box;
    float: left;
    height: 50%;
    padding: 20px;
    vertical-align: middle;
    width: 50%;

    .thumbnail {
        overflow: hidden;
        /*height: 100%;*/
        width: 100%;
	border-radius:50%;

        img {
            height: auto;
            position: relative;
            width: 100%;
	    vertical-align: middle;
	    margin-left: auto;
  	    margin-right: auto;
        }

        a {
            float: left;
            height: 100%;
            position: relative;
            width: 100%;

            span { 
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,0.4);
                color: $grey-color-light;
                padding: 30px;
                text-align: center;

                h1 {
		    color: $text-color;	
                    font-size: 1.5rem;
                    margin: 70px;
                }

                p {
                    color: $grey-color-light;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}
